.btn {
    padding: 0.7rem 1.8rem;
    border-radius: 50px;
    border: none;
    background-color: var(--Bright-Red);
    color: var(--Very-Pale-Red);
    font-weight: 700;
}

.btn-2 {
    padding: 0.6rem 1.2rem;
    border-radius: 50px;
    border: none;
    background-color: var(--Bright-Red);
    color: var(--Very-Pale-Red);
    font-weight: 700;
}