.header {
    min-height: 80vh;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -90px top -90px;
    background-size: contain;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-bar {
    max-width: 78em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    width: 100%;
    padding: 0 2.8rem;
    margin-bottom: var(--margin-7);
    margin-top: 2rem;
}

.top {
    max-width: 78em;
    margin: 0 auto;
    width: 100%;
    min-height: 55vh;
    padding: 0 2.8rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.main {
    max-width: 1440px;
    margin: var(--margin-7) auto;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: left -430px bottom -270px;
    background-size: contain;
    min-height: 74vh;
}

.main-box {
    max-width: 78em;
    margin: 0 auto;
    width: 100%;
    min-height: 50vh;
    padding: 0 2.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
    padding-bottom: 15rem;
}

.card-preview {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
    transform: translateY(-17rem);

    &_h-1 {
        font-size: clamp(2.5rem, 3.2vw, 2.2rem);
        line-height: 1.1;
        color: var(--Dark-Blue);
        margin-bottom: 4rem;
    }
}

.works {
    max-width: 1440px;
    background-color: var(--Bright-Red);
    min-height: 12rem;
    margin: 0 auto;
    margin-top: -7rem;
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: top -150px right -270px;
}

.footer {
    max-width: 1440px;
    background-color: var(--Dark-Blue);
    min-height: 14rem;
    margin: 0 auto;
}